<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="sidenav">
        <br />
        <h5>Agregar Modulo</h5>

        <form [formGroup]="moduloForm" (ngSubmit)="submitForm()">
            <!-- Id Field -->
            <mat-form-field class="full-width">
                <mat-label>Id</mat-label>
                <input matInput formControlName="id">
                <mat-error *ngIf="moduloForm.get('id')?.invalid">Id es requerido</mat-error>
            </mat-form-field>

            <!-- Nombre Field -->
            <mat-form-field class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput  formControlName="nombre">
                <mat-error *ngIf="moduloForm.get('nombre')?.invalid">Ingrese un nombre valido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Descripcion</mat-label>
                <input matInput formControlName="descripcion">
                <mat-error *ngIf="moduloForm.get('descripcion')?.invalid">Ingrese la descripcion</mat-error>
            </mat-form-field>

            <!-- Submit Button -->
            <button mat-raised-button color="primary" type="submit" [disabled]="moduloForm.invalid">
                Submit
            </button>
        </form>

        <!-- Display API Response Message -->
        <p *ngIf="responseMessage">{{ responseMessage }}</p>

    </mat-sidenav>
    <mat-sidenav-content class="content">
        <table *ngIf="showComponentTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Creacion </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="onEditClick(element.id)" class="clickable">edit</mat-icon>

                </td>
            </ng-container>
            <ng-container matColumnDef="symbol2">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="onDeleteClick(element.id)" class="clickable">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-sidenav-content>